@media screen and (max-width: 1200px) {
    #profile, 
    #about{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container{
        margin-top: 2rem;
    }
    #profile, .section-container{
        display: block;
    }
    .arrow{
        display: none;
    }
    section, .section-containers{
        height: fit-content;
        justify-content: center;
    }
    section{
        margin: 0 5%;
    }

    .profile-pic{
        width: 23rem;
        align-items: center;
    }
    .section-pic-container{
        width: 275px;
        height: 275px;
        margin: o auto 2rem;
    }
    .about-containers{
        margin-top: 0;
    }
}

@media screen and (max-width: 1200px){
    #contact{
        height: 60vh;
    }
    
    footer{
        height: 10;
        margin-top: auto;
    }

    .my-foot{
        height: 5rem;
    }
    #profile, #contact{
        height: 100vh;
        margin-bottom: 0;
    }

    #projects{
        height: 110vh;
    }

    }
    article{
        font-size: 1rem;
    }

    footer nav{
        height: fit-content;
        margin-bottom: 1rem;
        height: 25vh;
        padding-bottom: 1rem;
    }
    footer p{
        padding-top: 0rem;
        height: 5vh;
    }

    .about-containers, 
    .contact-info-upper-container, 
    .contact-info-lower-container, 
    .btn-container,
    .section-containers{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: auto 0.5rem;
    }
    .contact-info-container p, .nav-links li a{
        font-size: 1.5rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 2rem;
    }
    .nav-links .foot{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section-pic-container{
        width: auto;
        height: 54vh;
        justify-content: center;
    }
    .section-text-p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 3rem;
    }
    .text-container{
        text-align: justify;
    }


    @media screen and (max-width: 400px){
        #profile{
            height: 83vh;
            margin-bottom: 20rem;
        }
        #about{
            margin-bottom: 30rem;
        }
        #projects{
            margin-bottom: 25rem;
        }
        .profile-pic{
            width: 15rem;
            height: 10rem;
            align-items: center;
        }
    }