/*GENERAL STYLING*/

@import url("https://fonts.googleapis/css2?family-poppings:wght@300;400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'popping', sans-serif;
    background-color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(229, 76, 76);
}


/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
    margin-block: 5rem;
}

.sticker {
    margin: 0;
    padding:  5px 10px;
    display: inline-flex;
    position: sticky;
    left: 100px;
    bottom: 0;
    background-color: rgb(101, 147, 247);
    height: 40px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    justify-content: center;
    align-items: center;
    width: auto;
}

.sticker:hover {
    background-color: rgb(49, 107, 231);
}

.sticker-text {
    color: white;
    justify-content: center;
    font-weight: 550;
}

/*DESKTOP NAV*/

nav,
.nav-links {
    display: flex;
    background-color: rgb(198, 115, 115);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 13vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

a:hover {
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    transition: all 300ms ease-in-out;
}

.logo {
    font-size: 2.5rem;
    color: rgb(0, 255, 255);
}

.logo:hover {
    cursor: default;
}


/* HAMBURGER-MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: white;
    opacity: 0.8;
    border-radius: 2rem;
    z-index: 1;
}

.menu-links a {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links a:hover {
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: aqua;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 350px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon.open span:first-child {
    transition: none;
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
    transition-duration: 0s;
}

.hamburger-icon.open span:last-child {
    transition: none;
}


/* SECTION */
section{
    padding-top: 4vh;
    min-height: 96vh;
    margin: 1rem 10rem;
    box-sizing: border-box;
    border-inline-start: blue 0.5rem solid;
    padding-inline-start: 5rem;
    margin-inline-start: 3rem;
}

.section-container{
    display: flex;
}

/* PROFILE SECTION */
#profile{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section-pic-container{
    display: flex;
    height: 400px;
    width: 450px;
    margin: auto 0;
    
}

.profile-pic{
    border-radius: 5rem;
    height: 400px;
    width: 450px;
    margin: auto 0;
    display: flex;
}

.section-text{
    align-self: center;
    text-align: center;
}

.section-text:hover{
    cursor: default;
}

.section-text p{
    font-weight: 600;
}

.section-text-p1, 
.section-text-p2{
    text-align: center;
}

.section-text-p1{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: black;
    /*padding-top: 2rem;*/
}
.section-text-p2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.title{
    font-size: 10rem;
    text-align: center;
    padding-bottom: 2rem;
}

.socials-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
}

/* ICONS */
.icon{
    cursor: pointer;
    height: 3rem;
}

.profile-linkedin{
    height: 2.5rem;
}

/* BUTTONS */
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2{
    font-weight: 550;
    font-size: 15.5px;
    border: rgb(0, 0, 0) 0.2rem solid;
    border-radius: 2rem;
    padding: 0.8rem;
    width: 10rem;
    transition: all 250ms ease-in-out;
}

.btn-color-2:hover, 
.btn-color-1:hover{
    background: rgb(0, 217, 255);
    color: rgb(75, 75, 75);
    border: rgb(75, 75, 75) 0.2rem solid;
    transition: all 250ms ease-in-out;
    border-radius: 1rem;
    cursor: pointer;
}

/* ABOUT SECTION */
#about{
    position: relative;
    cursor: default;
}

.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.details-container .icon{
    width: 1.5rem;
    height: 1.5rem;
}

.details-container .icon:hover{
    cursor: default;
}

.section-container{
    display: flex;
    gap: 4rem;
    height: 80%;
    padding-top: 2rem;
}

.about-containers{
    display: flex;
}

.about-pic{
    border-radius: 2rem;
    width: 27rem;
    
    margin: auto 3;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 0rem;
    cursor: pointer;
    width: 2.5rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    font-weight: 200;
}

.details-container .sub-head:hover{
    cursor: default;
}

.details-container .head{
    text-decoration: underline overline;
    padding-bottom: 1rem;
    transition: all 300ms ease-in-out;
}
.details-container .head:hover{
    color: aqua;
    padding-bottom: 1rem;
    cursor: default;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.details-container .sub-head{
    font-size: 16px;
    color: black;
    list-style: none;
}

.details-container li{
    list-style: none;
}

.section-pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text-container p{
    font-size: large;
    align-self: center;
    text-align: center;
}

/* EXPERIENCE SECTION */
#experience{
    position: relative;
    cursor: default;
}

.experience-sub-title{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

.article-container .icon{
    cursor: default;
}

/* PROJECTS SECTION */
#projects{
    position: relative;
    cursor: default;
    gap: 1rem;
    height: 100vh;
}

.color-container{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    width: 5rem;
}

.project-image{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title{
    margin: 1rem;
    color: black;
}

/* CONTACT */
#contact{
    display: flex;
    position: relative;
    cursor: default;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    padding-bottom: 15rem;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.15rem solid;
    border-color: rgb(68, 68, 68);
    background: rgb(235, 233, 233);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-lower-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.15rem solid;
    border-color: rgb(68, 68, 68);
    background: rgb(235, 233, 233);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
    color: black;
}

.contact-icon{
    cursor: default;
    margin-block: 0.5rem;
}

/* FOOTER SECTION */
#footer{
    height: 0.5vh;
    margin: 0 0.1rem;
    display: flex;
    position: relative;
}

.foot-paragraph{
    text-align: center;
    flex-wrap: nowrap;
}

.my-foot,
 .foot{
    background-color: white;
    height: 3rem;
    padding: 1rem;
}

.nav-links-container ul{
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

